name: Docker Install & Version Check

on:
  workflow_dispatch:

jobs:
  docker-install:
    runs-on: ubuntu-latest

    steps:
      - name: SSH into EC2 and install Docker
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo apt update
            sudo apt install -y docker.io
            sudo systemctl start docker
            sudo systemctl enable docker
            docker --version